<h1>Talks#index</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @talks.each do |talk| %>
  <tr>
    <td><%= talk.content %></td>
    <td><%= link_to '詳細確認する', talk_path(talk.id) %></td>
    <td><%= link_to '編集する', edit_talk_path(talk.id) %></td>
    <td><%= link_to '削除する', talk_path(talk.id), method: :delete %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to '新しく投稿する', new_talk_path %>
